/* 
 * General style 
 * - Fonts
 * - Background
 * - general margin
 * - Font size for texts (p, h1, h2, ...)
 */

/* Fonts */
@font-face {
    font-family: "Raleway-Regular";
    src: url("../fonts/Raleway/static/Raleway-Regular.ttf");
}
@font-face {
    font-family: "Raleway-Gras";
    src: url("../fonts/Raleway/static/Raleway-Bold.ttf");
}

/* Body */
body {
    background-color: #FFFFFF;
    max-width: 1400px;
    min-height: 100vh;
    margin: auto;

    font-family: "Raleway-Regular", Arial, Helvetica, sans-serif;
}
h1{
    font-family: "Raleway-Gras", Arial, Helvetica, sans-serif;
    margin: 0;
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 8px;
}
h2{
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}
h3{
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 20px;
    margin-top: 20px;
}
h4{
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}
p{
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}
a, a:visited{
    text-decoration: none;
    color: black;
}
i{
    color: #0065FC;
}

/** Header 
 * - Logo and nav
 * - Title
 * - Search bar
 * - Filters
 */
header{
    margin: 0 2em;
}

/* Logo and nav */
nav{
    display: flex;
    justify-content: space-between;
    min-height: 100px;
    align-items: center;
}
nav img{
    width: 61px;
    height: 19px;
}
nav li{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-size: 19px;
    font-weight: 400;
    line-height: 100px;
}
nav a{
    padding: 30px;
}
nav li:hover{
    border-top: 2px solid #0065FC;
    color: #0065FC;
    font-weight: 500;
}
nav li:hover a{
    color: inherit;
}

/* Search bar */
form{
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    margin: 20px 0;
}
form label{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    width: 50px;
}
form label i{
    color: #000000;
    width: 14px;
    height: 18px;
}
form input{
    background-color: #FFFFFF;
    border: 1px solid #F2F2F2;
    height: 50px;
    width: 236px;
}
form button{
    background-color: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    width: 132px;
}
form button p{
    color: white;
    font-weight: 700;
    font-size: 18px;
}
form button i{
    color: white;
    width: 17px;
    height: 17px;
}

/* Filters */
.filters
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}
.filters h2{
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    margin: 7px;
}
input[type="checkbox"][name="filter"]{
    display: none;
}
header div label{
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-weight: 700;
    font-size: 17px;
    margin-right: 10px;

    border: 2px solid #D9D9D9;
    border-radius: 25px;
    height: 50px;
    padding: 0 1em 0 0.8em;
}
header div label i{
    margin: 5px;
}
input[type="checkbox"]:checked + label{
    background-color: #DEEBFF;
}

/* Indications */
header > p:last-child{
    margin: 2em 0;
}
header > p > i{
    font-size: 10px;
    color: #0065FC;
    padding: 4px 7px 4px 7px;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    margin: 4px;
}

/** Main
 * Articles
 * - Places = Hebergements
 * - Best ones
 * - Activities
 */
main{
    display: flex;
    flex-direction: column;
    margin: 30px 50px;
}
main h2{
    margin: 30px;
}
main > div{
    display: flex;
    flex-direction: row;
    gap: 2em;
}
main > div > *{
    background-color: #F2F2F2;
    border-radius: 20px;
}
figure{
    display: flex;
    background-color: #FFFFFF;
    border-radius: 20px;
    margin: 2%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
figure:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
figure img{
    object-fit: cover;
}
main > div > * > img{
    border: 5px solid #FFFFFF;
}
figcaption{
    position: relative;
}
figcaption div i:last-child{
    color: #F2F2F2;
}

/* Hebergements */
#places{
    flex: 2 1 0;
}
#places > div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#places figure{
    width: 246px;
    height: 200px;
    flex-direction: column;
}
#places figure img{
    height: 124px;
    width: 100%;
    border-radius: 20px 20px 0 0;
}
#places figcaption{
    padding: 5px 15px;
}
#places h3{
    margin-left: 44px;
}

/* Les plus populaires */
aside{
    flex: 1 1 0;
}
aside h2{
    position: relative;
}
aside h2 i{
    position: absolute;
    right: 0;
}
aside figure{
    width: 343px;
    height: 144px;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 15px 10px;
}
aside figure img{
    width: 137px;
    height: 100%;
    border-radius: 20px 0 0 20px;
}
aside figcaption{
    padding: 15px 5px;
    margin-bottom: 10px;
}
aside figcaption div{
    position: absolute;
    bottom: 0;
}

/* Activities */
#activities{
    width: 100%;
}
#activities > div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#activities figure{
    width: 300px;
    height: 445px;
    flex-direction: column;
}
#activities figure img{
    height: 90%;
    border-radius: 20px 20px 0 0;
}
#activities h3{
    margin: 20px;
}


/*
 * Footer
 */
footer{
    display: flex;
    flex-wrap: nowrap;
    flex: auto;
    background-color: #F2F2F2;
    margin: 0 2em;
    margin-top: auto;
}
footer h3{
    font-family: "Raleway-Gras", Arial, Helvetica, sans-serif;
}
footer p{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 12px;
}
footer ul{
    padding-left: 10%;
    padding-top: 25px;
    padding-bottom: 50px;
    flex: 1;
}






/*************************************************************************
 * Media queries 
 */
@media only screen and (min-width: 1280px){
    form button i{
        display: none !important;
    }
}

/* Sur tous les écrans, quand la largeur de la fenêtre fait au maximum 1280px */
@media screen and (min-width: 900px) and (max-width: 1280px){
    main{
        flex-wrap: wrap;
    }
    main > div{
        flex-direction: column;
    }
    #places, aside{
        width: 100%;
    }

    form button i{
        display: none !important;
    }
}

/* Sur tous types d'écrans orientés verticalement */
@media all and (max-width: 900px){
    /* Header */
    header{
        margin: 0;
    }
    header > *:not(nav){
        margin: 2%;
    }

    /* Nav */
    nav{
        flex-direction: column;
        text-align: center;
    }
    nav ul{
        width: 100%;
        display: flex;
    }
    nav li{
        flex: 2 0 auto;
    }
    nav img{
        margin-top: 20px;
    }
    nav li:hover{
        border-bottom: 2px solid #0065FC;
        border-top: none;
        color: #0065FC;
        font-weight: 500;
    }

    /* Search bar */
    form button{
        width: 49px;
    }
    form button p{
        display: none;
    }

    /* Filters */
    .filters h2{
        flex: 0 0 auto;
        width: 100%;
        text-align: left;
    }
    header div label{
        flex: 45% 1 0;
        justify-content: left;
    }

    /* Main */
    main > div{
        flex-direction: column-reverse;
    }

    /* Footer */
    footer{
        flex-direction: column;
        margin: 0;
    }
    footer ul{
        padding-top: 10px;
        padding-bottom: 10px;
    }
}