/**************** Test part ******************/
/*********************************************/
body, section,article, aside{
    border: 1px solid black;
}

/************** End Test part ****************/
/*********************************************/

/* 
 * General style 
 * - Fonts
 * - Background
 * - general margin
 * - Font size for texts (p, h1, h2, ...)
 */

/* Fonts */
@font-face {
    font-family: "Raleway-Regular";
    src: url("../fonts/Raleway/static/Raleway-Regular.ttf");
}
@font-face {
    font-family: "Raleway-Gras";
    src: url("../fonts/Raleway/static/Raleway-Bold.ttf");
}

/* Body */
body {
    background-color: #FFFFFF;
    width: 1400px;
    min-height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;

    font-family: "Raleway-Regular", Arial, Helvetica, sans-serif;
}
h2{
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}
a, a:visited{
    text-decoration: none;
    color: black;
}

/*
 * Header 
 * - Logo and nav
 * - Title
 * - Search bar
 * - Filters
 * - 
 */
header{
    margin-right: 55px;
    margin-left: 55px;
}
/* Logo and nav */
header section:nth-child(1){
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
header section:nth-child(1) img{
    width: 61px;
    height: 19px;
}
nav ul li{
    width: 162px;
    height: 100px;
    font-size: 19px;
    font-weight: 400;
    line-height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav ul li:hover{
    border-top: 2px solid #0065FC;
    color: #0065FC;
    font-weight: 500;
}
nav ul li:hover a{
    color: inherit;
}

/* Title */
h1{
    font-family: "Raleway-Gras", Arial, Helvetica, sans-serif;
    margin: 0;
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 8px;
}
p{
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

/* Search bar */
form{
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    margin: 20px 0 20px 0;
}
form label{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    background: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    width: 50px;
    height: 49px;
}
form label i{
    color: back;
    width: 14px;
    height: 18px;
}
header form input{
    background-color: #FFFFFF;
    border: 1px solid #F2F2F2;
    height: 49px;
    width: 236px;
}
header form button{
    background-color: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    width: 132px;
}
header form button p{
    color: white;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}
header form button i{
    color: white;
    width: 17px;
    height: 17px;
    margin: 16px;
    display: none !important;
}

/* Filters */
header section h2{
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    margin: 7px;
}
header section ul{
    display: flex;
    justify-content: left;
    align-items: center;
}
header section > ul li{
    display: flex;
    flex-wrap: nowrap;
    border: #d9d9d9 2px solid;
    border-radius: 50px;
    background-color: #FFFFFF;
    margin: 0 20px 0 10px;
    padding-right: 15px;
    padding-left: 15px;
    align-items: center;
}
header section > ul li:active{
    background-color: #DEEBFF;
}
header section > ul li i{
    color: #0065FC;
    padding: 10px;
}
header section > ul li p{
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
}

/* Indications */
section:last-child{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
section:last-child i{
    font-size: 10px;
    color: #0065FC;
    padding: 4px 7px 4px 7px;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    margin: 4px;
}
section:last-child p{
    margin: 11px;
}

/* 
 * Articles
 * - Herbergements
 * - Best ones
 * - Activities
 */
body > div{
    display: flex;
    flex-direction:  column;
}
body > div > div{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
/* Herbergement */

/* Best ones */

/* Activities */


/* 
 * Footer
 */
footer{
    display: flex;
    flex-wrap: nowrap;
    flex: auto;
    background-color: #F2F2F2;
    margin-left: 50px;
    margin-right: 50px;
    height: 225px;
    margin-top: auto;
}
footer h3{
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 20px;
}
footer p{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 12px;
}
footer ul{
    padding-left: 70px;
    padding-top: 45px;
    flex: 1;
}